@font-face {
  font-family: "noir_probold";
  src: url("../fonts/noirpro-bold-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_probold_italic";
  src: url("../fonts/noirpro-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_proheavy";
  src: url("../fonts/noirpro-heavy-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_proheavy_italic";
  src: url("../fonts/noirpro-heavyitalic-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-heavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_proitalic";
  src: url("../fonts/noirpro-italic-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_prolight";
  src: url("../fonts/noirpro-light-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_prolight_italic";
  src: url("../fonts/noirpro-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_promedium";
  src: url("../fonts/noirpro-medium-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_promedium_italic";
  src: url("../fonts/noirpro-mediumitalic-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_proregular";
  src: url("../fonts/noirpro-regular-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_prosemi_bold";
  src: url("/fonts/noirpro-semibold-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noir_prosemi_bold_italic";
  src: url("../fonts/noirpro-semibolditalic-webfont.woff2") format("woff2"),
    url("../fonts/noirpro-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vegas Nova";
  src: url("../fonts/VegasNova-Regular.eot");
  src: local("Vegas Nova"), local("VegasNova-Regular"),
    url("../fonts/VegasNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/VegasNova-Regular.woff2") format("woff2"),
    url("../fonts/VegasNova-Regular.woff") format("woff"),
    url("../fonts/VegasNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
