$text-purple: #524d5a;
$bg-purple: #6437a0;
$text-purple2: #6437a0;
$text-white: #ffffff;
$text-pink: #e944b1;
$bg-lightpink: #e6dbf3;
$bg-lightpink2: #d8c9eb;
$text-black: #000000;
$main_bg: #eef1f0;
$text-light: #eef1f0;
$text-gray: rgba(82, 77, 90, 0.51);
$text-light2: rgba(238, 241, 240, 0.29);

// fonts
$font100: 6.25rem;
$font60: 3.75rem;
$font55: 3.438rem;
$font46: 2.875rem;
$font38: 2.375rem;
$font27: 1.688rem;
$font26: 1.625rem;
$font25: 1.563rem;
$font20: 1.25rem;
$font18: 1.125rem;
$font15: 0.938rem;
$font12: 0.75rem;
